<nav class="main-nav">
    <li> <a href="/">Home</a> </li>
    <li>
        <a href="/about">About</a>
    </li>
    <li>
        <a href="/create/new">Create</a>
    </li>
    <li>
        <a href="/auth/register">New User</a>
    </li>
   
</nav>